{
  "openapi": "3.0.0",
  "info": {
    "title": "Пример API для создания пользователей",
    "version": "1.0.0",
    "description": "API для управления пользователями"
  },
  "servers": [
    {
      "url": "https://cmsapi.avegacms.ru/api/public/login"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "Создать нового пользователя",
        "description": "Добавляет нового пользователя в систему.",
        "operationId": "createUser",
        "requestBody": {
          "description": "Данные нового пользователя",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Пользователь успешно создан.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос."
          },
          "500": {
            "description": "Ошибка на сервере."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Имя пользователя"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email пользователя"
          },
          "age": {
            "type": "integer",
            "description": "Возраст пользователя"
          }
        },
        "required": ["name", "email"]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Уникальный идентификатор пользователя"
          },
          "name": {
            "type": "string",
            "description": "Имя пользователя"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email пользователя"
          },
          "age": {
            "type": "integer",
            "description": "Возраст пользователя"
          }
        }
      }
    }
  }
}
