{
  "openapi": "3.0.3",
  "info": {
    "title": "AvegaCms :: Login",
    "description": "AvegaCms :: Login",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cmsapi.avegacms.ru/api/public/login"
    }
  ],
  "paths": {
    "/authorization": {
      "post": {
        "summary": "Авторизация",
        "description": "Аутентифицирует пользователя по электронной почте и паролю.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Электронная почта пользователя",
                    "default": "test@test.ru"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Пароль пользователя",
                    "default": "123456"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Токен доступа пользователя"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Неавторизованный доступ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/check": {
      "post": {
        "summary": "Проверка кода",
        "description": "Проверка кода",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pointer": {
                    "type": "string",
                    "format": "pointer",
                    "description": ""
                  },
                  "condition": {
                    "type": "string",
                    "format": "condition",
                    "description": "Условие"
                  },
                  "code": {
                    "type": "string",
                    "format": "code",
                    "description": "Код пользователя"
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Токен доступа пользователя"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Неавторизованный доступ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/refresh": {
      "post": {
        "summary": "Обновление токена",
        "description": "Обновление токена",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "format": "token",
                    "description": "Refresh токен"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Токен доступа пользователя"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Неавторизованный доступ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/recovery": {
      "post": {
        "summary": "Сброс пароля",
        "description": "Сброс пароля",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recovery_field": {
                    "type": "string",
                    "format": "recovery_field",
                    "description": ""
                  }
                },
                "required": [
                  "recovery_field"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Токен доступа пользователя"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Неавторизованный доступ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/password": {
      "post": {
        "summary": "Создание пароля",
        "description": "Создание пароля",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string",
                    "format": "hash",
                    "description": ""
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": ""
                  },
                  "passconf": {
                    "type": "string",
                    "format": "passconf",
                    "description": ""
                  },
                },
                "required": [
                  "hash","password","passconf"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная авторизация",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Токен доступа пользователя"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Неавторизованный доступ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "summary": "Выход",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "Сессия пользователя успешно удалена"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
